@use '../vars';

#Cities {
    padding-bottom: 90px;

    .container {
        overflow: hidden;
        // background: rgba(63, 94, 251, 0);
        position: relative;
    }

    .gradient {
        background: radial-gradient(circle, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 1) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        left: 0;
    }

    .cities {
        display: flex;
        animation: marquee 30s linear infinite;
        gap: 16px;
        z-index: 1;

        @include vars.down('xl') {
            gap: 10px;
        }

        .chip {
            height: 65px;
            padding: 0 49px;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 31px;
            border: 1.57px solid #cdcdcd;
            border-radius: 52px;
            white-space: nowrap;

            @include vars.down('xxl') {
                height: 49px;
                font-size: 23px;
            }

            @include vars.down('xl') {
                font-size: 16px;
                height: 28px;
                padding: 0 16px;
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, 0);
        /* changed from 100% */
    }
}