@use '../vars.scss';

#Complectation {
    padding-top: 83px;
    padding-bottom: 66px;
    position: relative;

    h2 {
        @include vars.down('sm') {
            font-size: 36px;
        }
    }

    .small_headline {
        margin-bottom: 20px;
        margin-top: 62px;
    }

    .effects {
        margin-bottom: 20px;
    }

    .font-medium {
        max-width: 730px;
    }

    .complectation_bg {
        position: absolute;
        right: 0;
        bottom: 0;

        @include vars.down('xxl') {
            width: 500px;
        }
    }

    .complectation_wrap {
        display: flex;
        gap: 40px;
        margin-top: 40px;
        margin-bottom: 40px;

        @include vars.down('lg') {
            flex-direction: column;
        }

        &.smaller {
            .card.icon_bottom {
                min-height: 540px;
            }
        }

        .card {
            padding: 30px;
            border-radius: 25px;
            width: 100%;
            padding-bottom: 0;
            color: vars.$black;
            overflow: hidden;

            &_text {
                font-weight: 500;
                font-size: 16px;
                color: inherit;
            }

            h3 {
                font-weight: 700;
                font-size: vars.$fs-xl;
                color: inherit;
            }

            .effects {
                .effects_item {
                    font-weight: 400;
                    font-size: vars.$fs-xxs;
                    color: inherit;

                    &::before {
                        height: 7px;
                        width: 7px;
                        min-width: 7px;
                        min-height: 7px;
                    }
                }
            }

            &.grey {
                background: #dbe8f4;

                img {
                    width: 110%;
                    max-width: 110%;
                }
            }

            &.grey_small {
                background: #dbe8f4;
            }

            &.black {
                background: #333;
                color: #fff;

                .graph_header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 40px;
                    margin-top: 30px;

                    .procent {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }

                .effects {
                    .effects_item {

                        &::before {
                            background: #fff;
                        }
                    }
                }
            }

            &.red {
                background: #ffa9a0;

                img {
                    position: relative;
                    bottom: -1px;
                }
            }

            &.green {
                background: #a0e996;
            }

            &.orange {
                background: #ffd285;

                img {
                    position: relative;
                    bottom: -2px;
                }
            }

            &.blue {
                background: #9dd5fd;
            }

            &.purple {
                background: #d5c0ff;
                position: relative;

                img {
                    position: absolute;
                    width: 100%;
                    bottom: -10px;
                    left: 0px;
                }
            }

            &.icon_bottom {
                display: flex;
                flex-direction: column;
                min-height: 580px;

                img {
                    margin: 0 auto;
                    margin-top: auto;
                }
            }
        }
    }
}

#Complectation .complectation_wrap.smaller .card.icon_bottom {
    @include vars.down('lg') {
        min-height: 600px;
    }
}