@use '../vars';

footer {
    padding: 35px 0;
    background: linear-gradient(90deg, #babcc7 0%, #626f79 20%, #626f79 80%, #babcc7 100%);

    @include vars.down('xl') {
        background: #5F6B75;
    }

    .container {
        max-width: 1200px;
    }

    .apper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include vars.down('xl') {
            flex-direction: column;
        }

        .logo {
            object-fit: contain;
        }

        p {
            font-weight: 400;
            font-size: 24px;
            color: #fff;
            text-align: right;

            @include vars.down('xl') {
                display: flex;
                flex-direction: column;
                text-align: left;
                font-size: 16px;
                width: 100%;
                margin-top: 45px;
            }

            @include vars.down('xxl') {
                font-size: 24px;
            }

            span {
                color: #fff;
                text-align: right;
            }
        }
    }

    .bottom {
        margin-top: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include vars.down('xxl') {
            flex-direction: column;
            align-items: flex-start;
        }

        p,
        a {
            font-weight: 400;
            font-size: 16px;
            color: #b0b7bc;
        }
    }
}