@use '../vars.scss';

footer {
    background: #539ee6;
    padding: 40px 0 45px
}

.container-footer {
    max-width: 1780px;
    margin: 0 auto
}

.logo__bottom p {
    font-family: Museo Sans Cyrl, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 13px
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 11px
}

.footer-link {
    font-family: Museo Sans Cyrl, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 28px;
    color: #f3f4f7;
    text-decoration: none
}

.footer-wrap {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;

    @include vars.down('xls') {
        grid-template-columns: 50% 50%;
        gap: 32px   ;
    }

    @include vars.down('sm') {
        grid-template-columns: 100%;
        gap: 32px   ;
    }
}

.footer-socials p {
    font-family: Museo Sans Cyrl, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #f3f4f7
}

.socials {
    margin-top: 15px;
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto auto;
    grid-gap: 37px
}

.footer-conf p {
    max-width: 400px
}

.footer-conf p,
.footer-conf a {
    font-family: Museo Sans Cyrl, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 18px;
    color: #f8fafb;
    text-decoration: none
}

.conf {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
    margin-top: 18px
}

.human-m {
    display: none
}

.blue-m {
    display: none;
    font-family: Bradley Hand, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 70px;
    color: #539ee6
}

.blue-d {
    font-family: Bradley Hand, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 70px;
    color: #539ee6;
    text-align: center
}