@use '../vars';

header {
    height: 99px;
    border-bottom: 11px solid #dfe0e8;

    @include vars.down('xl') {
        min-height: 99px;
        height: fit-content;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include vars.down('xl') {
            flex-wrap: wrap;
        }

        @include vars.down('sm') {
            align-items: flex-start;
        }
    }

    .links {
        display: flex;
        width: 100%;
        justify-content: space-around;

        @include vars.down('xl') {
            display: none;
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        width: 70%;
        gap: 32px;

        @include vars.down('xl') {
            flex-wrap: wrap;
        }

        @include vars.down('sm') {
            padding: 16px 0;
            width: 100%;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;
        }
    }

    a {
        text-decoration: none;
        font-weight: 400;
        font-size: 25px;
        color: #212121;

        @include vars.down('xxl') {
            font-size: 18px;
        }

        &.with_icon {
            display: flex;
            gap: 11px;
            align-items: center;
            line-height: 110%;
        }

        .icon {
            width: 35px;
            height: 35px;
            min-width: 35px;
            min-height: 35px;
            border-radius: 50%;
            background: #0077c8;
            display: flex;
            align-items: center;
            justify-content: center;

            @include vars.down('xxl') {
                width: 26px;
                height: 26px;
                min-width: 26px;
                min-height: 26px;
            }

            img {
                @include vars.down('xxl') {
                    max-width: 13px;
                    width: 100%;
                }
            }
        }
    }
}