@use '../vars';

#Main {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include vars.down('xxl') {
        height: 340px;
    }

    @include vars.down('sm') {
        .button.mla {
            margin-top: 16px;
            margin-left: 0;
        }
    }

    h1 {
        font-weight: 400;
        font-size: 158px;
        line-height: 100%;
        text-transform: uppercase;
        color: #5f6b75;

        @include vars.down('xxl') {
            font-size: 118px;
        }

        @include vars.down('xl') {
            font-size: 40px;
        }

        span {
            color: #0077c8;
        }
    }

    h2 {
        font-weight: 400;
        font-size: 37px;

        @include vars.down('xxl') {
            font-size: 28px;
        }

        @include vars.down('xl') {
            font-size: 16px;
        }
    }
}