@use '../vars';

#OurPartners,
#Recomendations {
    padding-top: 90px;

    @include vars.down('sm') {
        font-size: 32px;
        padding-bottom: 90px;
    }

    h2 {
        font-weight: 700;
        font-size: 60px;
        max-width: 1000px;
        line-height: 100%;

        @include vars.down('sm') {
            font-size: 32px;
        }
    }

    .sub_text {
        font-weight: 300;
        font-size: 28px;
        margin-top: 40px;

        @include vars.down('sm') {
            font-weight: 700;
            font-size: 20px;
        }
    }

    .our_partners {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -40px;

        @include vars.down('sm') {
            top: 0;
            margin-top: 20px;

        }

        .splide__arrows {
            position: static;
            justify-content: flex-end;
            gap: 34px;
            align-items: center;
            margin-bottom: 40px;

            @include vars.down('sm') {
                display: none;
            }
        }

        .splide__arrow {
            border-radius: 50%;
            background: vars.$white;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.splide__arrow--prev {
                display: none;
            }
        }

        .splide__slide {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px;
            }

            p {
                font-weight: 300;
                font-size: 20px;
                margin-top: 20px;
                word-break: break-word;

                @include vars.down('sm') {
                    font-size: 16px;
                }
            }
        }
    }
}

.splide__pagination {
    display: flex;
    gap: 10px;
    align-items: center;

    li {
        width: 10px;
        height: 10px;
        min-height: 10px;
        min-width: 10px;
        max-height: 10px;
        max-width: 10px;
        display: flex !important;
    }

    .splide__pagination__page {
        border: none;
        background: #D8DBDE;
        width: 10px;
        height: 10px;
        min-height: 10px;
        min-width: 10px;
        max-height: 10px;
        max-width: 10px;
        border-radius: 50%;
        padding: 0;

        &.is-active {
            background: vars.$primary;
        }
    }
}