@use '../vars';

#Program {
    background: linear-gradient(180deg, #fff 0%, #f9f9fb 100%);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .scedule {
        margin-top: 46px;
        display: flex;
        gap: 21px;
        align-items: center;

        &_download {
            border: 1.33px solid vars.$border;
            border-radius: 13px;
            background: #f9f9fb;
            height: 53px;
            padding: 0 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            text-decoration: none;
        }

        &_time {
            font-weight: 400;
            font-size: 18px;
            line-height: 145%;
            color: vars.$grey;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .tabs {
        display: flex;
        max-width: 1200px;
        width: 100%;
        background: #f3f5f7;
        border-radius: 13px;
        padding: 5px;
        margin-top: 63px;
        margin-bottom: 48px;

        &_item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            height: 42px;
            color: vars.$grey;

            path {
                stroke: vars.$grey;
            }

            &.active {
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
                background: #f9f9fb;
                border-radius: 11px;
                color: vars.$black;

                path {
                    stroke: vars.$black;
                }
            }
        }
    }

    

    .speakers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 128px;
        gap: 32px;
        margin-bottom: 200px;

        &_item {
            border: 1.33px solid vars.$border;
            border-radius: 16px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
            background: vars.$white;
            padding: 33px 44px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_img {
                border-radius: 50%;
                width: 128px;
                height: 128px;
                object-fit: contain;
                margin-bottom: 21px;
            }

            &_name {
                font-weight: 700;
                font-size: 23px;
                line-height: 159%;
            }

            &_job {
                font-weight: 400;
                font-size: 18px;
                line-height: 146%;
                color: vars.$grey;
            }

            &_work {
                font-weight: 500;
                font-size: 18px;
                line-height: 143%;
                color: #f16f73;
                display: flex;
                align-items: center;
                gap: 5px;
                margin-top: 5px;
            }

            &_theme_title {
                font-weight: 500;
                font-size: 18px;
                line-height: 144%;
                margin-top: 37px;
            }

            &_theme {
                font-weight: 400;
                font-size: 15px;
                line-height: 133%;
                color: vars.$grey;
                margin-top: 5px;
            }

            .chip {
                margin-top: 15px;
            }
        }
    }
}