@use '../vars';

#Registration {
    padding: 106px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .form_wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
        margin-top: 91px;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .checkbox-input {
                appearance: none;
                -webkit-appearance: none;
                /* для поддержки в Safari */
            }

            .checkbox-label {
                font-weight: 500;
                font-size: 18px;
                line-height: 165%;
                color: #6b7280;
            }

            .checkbox-item {
                display: flex;
                gap: 10px;
            }

            .checkbox-input {
                appearance: none;
                width: 21px;
                height: 21px;
                min-width: 21px;
                min-height: 21px;
                border: 1px solid #545d78;
                border-radius: 50%;
                background-color: #fff;
                cursor: pointer;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                margin: 0;
                margin-top: 4px;
            }

            .checkbox-input:checked {
                background-color: vars.$primary;
                border-color: vars.$primary;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
            }

            .form_inputs {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                gap: 22px;
                row-gap: 38px;
                margin-top: 32px;
                margin-bottom: 32px;

                .form_input {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    position: relative;

                    label {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 146%;
                    }

                    &.full {
                        grid-column: span 2;
                    }

                    svg {
                        position: absolute;
                        bottom: 21px;
                        left: 16px;
                    }

                    input {
                        border: 1.33px solid #e5e7eb;
                        border-radius: 13px;
                        height: 64px;
                        font-weight: 400;
                        font-size: 18px;
                        color: #6b7280;
                        outline: none;
                        padding-left: 55px;
                        background: #f9f9fb;
                    }
                }
            }

            h3 {
                margin-top: 0;
                font-weight: 700;
                font-size: 30px;
                line-height: 138%;
            }

            .subtitle {
                font-weight: 400;
                font-size: 20px;
                line-height: 156%;
                margin-top: 8px;
            }

            button {
                margin-top: 32px;
            }

            p {
                margin-top: 32px;
                font-weight: 400;
                font-size: 18px;
                line-height: 146%;
                text-align: center;
                color: #6b7280;
            }
        }

        .column {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 21px;

            h3 {
                margin-top: 0;
            }


            .item {
                border: 1.33px solid #e5e7eb;
                border-radius: 16px;
                background: #fff;
                padding: 22px;
                display: flex;
                align-items: center;
                gap: 21px;

                p {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 154%;
                }

                span {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 145%;
                    color: #6b7280;
                }
            }
        }
    }
}