@use '../vars';

#Results {
    padding-top: 90px;

    h2 {
        margin-bottom: 32px;
    }

    .results {
        box-shadow: 6px 6px 54px 0 rgba(83, 158, 230, 0.15);
        background: #fff;
        border-radius: 50px;

        @include vars.down('sm') {
            background: transparent;
            box-shadow: none;
        }

        .splide__arrow {
            background: #FAFAFA;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        .splide__arrows {
            width: 120%;
            left: -10%;

            @include vars.down('xxls') {
                display: none;
            }
        }

        .splide__pagination {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -36px;
        }

        .stats {
            display: flex;
            gap: 32px;
            margin-top: 36px;

            @include vars.down('sm') {
                margin-top: 0;
            }

            &_item {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 16px 32px 0 rgba(0, 0, 0, 0.07);
                background: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 18px 0;
                border-radius: 16px;

                .number {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 900;
                    font-size: 40px;
                    line-height: 105%;
                    text-align: center;
                    color: #539ee6;

                    @include vars.down('sm') {
                        font-weight: 900;
                        font-size: 26px;
                    }
                }

                &_text {
                    max-width: 170px;
                    text-align: center;
                    font-weight: 300;
                    font-size: 20px;

                    @include vars.down('sm') {
                        font-weight: 300;
                        font-size: 14px;
                        max-width: 130px;
                    }
                }
            }
        }

        .main_text {
            margin-top: 36px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            @include vars.down('sm') {
                gap: 12px;
            }

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 167%;
                color: #505254;

                @include vars.down('sm') {
                    font-weight: 400;
                    font-size: 14px;
                }

                &.bold {
                    font-weight: 700;
                }
            }
        }

        .text_block {

            @include vars.down('sm') {
                border-radius: 25px;
                background: #f4f7fb;
                padding: 16px 12px;
            }

        }

        .splide__slide {
            .item {
                display: flex;
                gap: 40px;
                padding: 10px;

                @include vars.down('sm') {
                    flex-direction: column;
                    gap: 16px;
                }

                img {
                    border-radius: 43px;

                    @include vars.down('xxxls') {
                        max-width: 40%;
                        object-fit: contain;
                    }

                    @include vars.down('sm') {
                        width: 100%;
                        max-width: unset;
                        max-height: 160px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}