
@use '../vars';

#SpaceAndTime {
    padding: 100px 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .space_wrapper {
        display: flex;
        gap: 64px;
        width: 100%;
        margin-top: 64px;

        &_space {
            border: 1.33px solid #e5e7eb;
            border-radius: 16px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
            background: #fff;
            padding: 33px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 100%;

            &_item {
                display: flex;
                gap: 16px;

                &.address {
                    flex-direction: column;
                    gap: 4px;
                }

                .flex {
                    display: flex;
                    gap: 10px;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 104%;
                    align-items: center;
                }

                p {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 154%;
                }

                span {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 145%;
                    color: #6b7280;
                }


            }
        }
    }

    .card {
        h3 {
            font-weight: 600;
            font-size: 30px;
            line-height: 107%;
            letter-spacing: -0.03em;
            margin-top: 0;
            margin-bottom: 32px;
        }

        .map {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            height: 450px;

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 146%;
                color: vars.$grey;
            }
        }
    }

    .card_item {
        display: flex;
        gap: 10px;

        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 156%;
        }

        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 143%;
            color: #6b7280;
        }
    }
}

.notification {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    background: #f9f9fb;
    border-radius: 16px;
    background: #F9F9FB;
    width: 100%;
    border-left: 3px solid #5DC1B6;
    padding: 33px;

    p {
        font-weight: 600;
        font-size: 21px;
        line-height: 151%;
        margin-bottom: 10px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-left: 24px;

        li {
            font-weight: 400;
            font-size: 18px;
            line-height: 147%;
            color: #6b7280;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;


    .list {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 21px;

        &_item {
            display: flex;
            gap: 21px;
            align-items: center;

            p {
                font-weight: 600;
                font-size: 18px;
                line-height: 143%;
            }

            span {
                font-weight: 400;
                font-size: 15px;
                line-height: 135%;
                color: #6b7280;
            }
        }
    }
}