@use "../vars";

#WithSupport {
    padding-bottom: 116px;
    padding-top: 106px;
    background: linear-gradient(180deg, #fff 0%, #f9f9fb 100%);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2 {
        font-weight: 700;
        font-size: 46px;
    }

    .subtitle {
        font-weight: 400;
        font-size: 24px;
        color: vars.$grey;
        margin-top: 24px;
        max-width: 890px;
    }

    .support_list {
        display: grid;
        margin-top: 64px;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: 1200px;
        gap: 32px;

        &_item {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
            background: vars.$white;
            border: 1px solid vars.$border;
            border-radius: 16px;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 43px;
            width: 100%;

            p {
                font-weight: 400;
                font-size: 18px;
                color: vars.$grey;
            }

            &.mincifra {
                grid-column: span 2;
                max-width: 580px;
                margin: 0 auto;
            }
        }
    }

    h3 {
        margin-top: 100px;
        font-weight: 700;
        font-size: 30px;
    }

    .participants {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
        margin-top: 32px;

        &_item {
            border: 1.33px solid vars.$border;
            border-radius: 16px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
            background: vars.$white;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 16px 32px 32px;

            &_logo {
                max-height: 100px;
                width: fit-content;
                object-fit: contain;
                margin-bottom: 20px;

                &.vulns {
                    margin-top: 24px;
                    margin-bottom: 28px;
                }
            }

            &_name {
                font-weight: 600;
                font-size: 23px;
                margin-bottom: 10px;
            }

            &_desc {
                font-weight: 400;
                font-size: 18px;
                color: vars.$grey;
                margin-bottom: 35px;
            }

            &_solutions-title {
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 10px;
            }

            &_solutions {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                &_item {
                    border: 1.33px solid vars.$border;
                    border-radius: 13332px;
                    padding: 0 14px;
                    height: 29px;
                    font-weight: 600;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .company_participants {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 49px;
        margin-bottom: 116px;

        &_item {
            border-radius: 6px;
        }
    }

    .format {
        display: flex;
        gap: 77px;
        margin-top: 120px;

        &_item {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
            border: 1px solid vars.$border;
            border-radius: 16px;
            padding: 60px;
            background: vars.$white;

            &_icon {
                margin-bottom: 44px;
            }

            &_title {
                font-weight: 700;
                font-size: 31px;
                line-height: 167%;
            }

            &_subtitle {
                font-weight: 400;
                font-size: 18px;
                line-height: 200%;
                color: vars.$grey;
            }

            &_moves {
                text-align: left;
                margin-top: 12px;
                margin-bottom: 28px;

                &_item {
                    color: vars.$grey;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 200%;
                }
            }
        }
    }
}