@use '../vars.scss';

#Videos {
    h2 {
        font-weight: 700;
        font-size: 32px;
        color: vars.$black;
    }

    .videos_bg {
        background: #fafafa;
        border-radius: 25px;
        padding: 24px 32px;

        @include vars.down('sm') {
            background: transparent;
            padding: 0;
        }

        .video-js {
            width: 100%;
            max-width: 1020px;
            max-height: 700px;
            margin: 0 auto;
            margin-top: 23px;
            border-radius: 25px;
            overflow: hidden;

            @include vars.down('sm') {
                max-height: 380px;
            }
        }

        p {
            max-width: 1020px;
            margin: 0 auto;
            margin-top: 16px;
            font-weight: 500;
            font-size: 20px;
            color: vars.$black;

            @include vars.down('sm') {
                font-size: 16px;
            }
        }
    }
}

.splide__arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: fit-content;

    .splide__arrow {
        height: fit-content;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 3;
    }
}

.video-js .vjs-big-play-button {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    background-color: rgba(83, 158, 230, 1) !important;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: .3s;
}

.video-js .vjs-big-play-button:hover {
    background-color: rgba(71, 153, 230, 1) !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    content: "";
    background: url('/src/img/icons/play.svg');
    background-position: 57% center;
    background-repeat: no-repeat;
}