@use 'vars';

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 190px;
    font-size: vars.$fs-s;
    min-height: 49px;
    border-radius: 16px;
    color: vars.$primary;
    text-decoration: none;
    transition: .3s;
    background: vars.$primary;
    color: vars.$white;
    border: 2px solid vars.$primary;
    cursor: pointer;

    span {
        font-size: vars.$fs-xxxs;
    }

    &.button_cookie {
        background: vars.$white;
        font-size: 12px;
        line-height: 250%;
        color: #828282;
        min-width: unset;
        min-height: unset;
        padding: 0 16px;
        height: 30px;
        border: none;
        border-radius: 4px;
        border: vars.$white;

        &:hover {
            border: vars.$white;
        }
    }

    &.xl {
        width: 320px;
        height: 65px;
        font-size: vars.$fs-l;

        span {
            font-size: vars.$fs-xs;
        }
    }

    &:hover {
        color: vars.$primary;
        background: transparent;
        border: 2px solid vars.$primary;
    }

    &.button_outline {
        border: 2px solid vars.$primary;
        color: vars.$primary;
        background: transparent;

        &:hover {
            background: vars.$primary;
            color: vars.$white;
        }
    }
}