@use "vars";

.container {
    max-width: vars.$max-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.body_container {
    max-width: 1345px;

    @include vars.down('xxxls') {
        max-width: 1200px;
    }
}