@use './vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova';
    color: vars.$black;
}

.container {
    max-width: vars.$max-width;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.mla {
    margin-left: auto;
}

.mra {
    margin-right: auto;
}

.button {
    text-decoration: none;
    height: 78px;
    background: #0077c8;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 52px;
    gap: 38px;
    padding-left: 32px;
    font-weight: 400;
    font-size: 31px;
    color: vars.$white;
    line-height: 110%;

    @include vars.down('xxl') {
        font-size: 23px;
        height: 59px;
    }

    @include vars.down('xl') {
        font-size: 16px;
        height: 40px;
    }

    &.white {
        font-weight: 400;
        font-size: 31px;
        color: #0077c8;
        background: vars.$white;

        @include vars.down('xl') {
            font-size: 16px;
        }

        .icon {
            background: #0077c8;
            border: 2px solid vars.$white;
        }
    }

    .icon {
        height: 76px;
        width: 76px;
        min-height: 76px;
        min-width: 76px;
        background: vars.$white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid #0077c8;

        @include vars.down('xxl') {
            height: 59px;
            width: 59px;
            min-height: 59px;
            min-width: 59px;
        }

        @include vars.down('xl') {
            height: 40px;
            width: 40px;
            min-height: 40px;
            min-width: 40px;
        }

        img {
            height: 30px;
            width: auto;

            @include vars.down('xl') {
                height: 9px;
                object-fit: contain;
            }
        }
    }
}