@use './vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: vars.$black;
}

.container {
    max-width: vars.$max-width;
    margin: 0 auto;
    width: 100%;
}

.button {
    height: 64px;
    color: vars.$white;
    background: vars.$primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    border-radius: 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    border: none;

    &.grey {
        background: #f9f9fb;
        border: 1.33px solid #e5e7eb;
        color: vars.$black;
        height: 47px;
        font-weight: 500;
        font-size: 18px;
        line-height: 145%;
    }
}

.text {
    font-weight: 500;
    font-size: 18px;

    &.white {
        color: vars.$white;
    }
}

h2 {
    font-weight: 700;
    font-size: 61px;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 38px;
    margin-top: 85px;
}

.subtitle {
    font-weight: 400;
    font-size: 24px;
    max-width: 1020px;
    text-align: center;
    color: vars.$grey;
    margin-top: 38px;
}

.chip {
    border: 1.33px solid vars.$border;
    border-radius: 13332px;
    padding: 0 14px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: fit-content;
    gap: 10px;

    &.grey {
        background: #f3f5f7;
        border: none;
    }

    &.dark_grey {
        background: #545d78;
        border: none;
        color: vars.$white;
    }

    &.green {
        background: vars.$primary;
        border: none;
        color: vars.$white;
    }

    &.yellow {
        background: #ffd557;
        border: none;
    }

    &.red {
        background: #f16f73;
        border: none;
        color: vars.$white;
    }

    &.not_otline {
        background: #f3f5f7;
        border: none;
    }
}

.card {
    border: 1.33px solid #e5e7eb;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    padding: 33px;
}

.scedule_main {
    border: 1.33px solid vars.$border;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    background: vars.$white;
    padding: 33px;
    width: 100%;
    margin-bottom: 66px;

    &[data-type=vystavka] {
        display: none;
    }

    &_title {
        font-weight: 600;
        font-size: 30px;
        margin-top: 0;
    }

    &_subtitle {
        font-weight: 400;
        font-size: 18px;
        color: vars.$grey;
        margin-top: 8px;
    }

    &_list {
        display: flex;
        flex-direction: column;
        margin-top: 32px;

        &_item {
            display: flex;
            border-bottom: 1.33px solid vars.$border;
            gap: 21px;
            align-items: center;
            min-height: 76px;

            &_title {
                width: 100%;
                font-weight: 600;
                font-size: 21px;
                line-height: 151%;
                display: flex;
                flex-direction: column;

                span {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 144%;
                    color: vars.$grey;
                }
            }
        }
    }
}